<div>{{ name + ""}}</div>
<button class="btn btn primary" (click)="open()">Download</button>
<div class="media">
    <div class="media-body">
            <video width="640" height="480" autoplay controls>
                <source src="http://blooming-ridge-67597.herokuapp.com/upload/{{ name }}" type="video/mp4">
                <!-- <source src="http://localhost:3000/upload/{{ name }}" type="video/mp4"> -->
                Your browser does not support the video tag.
            </video>
    </div>
</div>
